# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project specific files
\build*
\cmake-build-*

# Misc IDEs and Toolchain
\.idea/
.cproject
.project
.settings
**orig
\.vscode/
*.user
*.bin
session*/
.kdev4
*.kdev4

